body{
    background-color: #44467e;

}

h2{
    margin-bottom: 30px;
    color: whitesmoke;
}

.maincontainer{
    margin: auto;
    padding: 30px;
}

.checkyes{
    color: green;
}

.checkno{
    color: red;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

a:visited {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #9fcdff;
}