body{
    background-color: #44467e;
}

h2{
    margin-bottom: 30px;
    color: whitesmoke;
    text-align: center;
}

.maincontainer{
    margin: auto;
    padding: 30px;
}

.checkyes{
    color: green;
}

.checkno{
    color: red;
}

table{
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 5px 3px rgba(0,0,0,.3);
    text-align: center;
}
a{
    text-decoration: none;
    color: whitesmoke;
}

a:visited {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #9fcdff;
}