body{
	background-color: #9077ff;
	font-family: Abel;

}

.container{
	width: 800px;
	margin: auto;
	
}

.card{
	width: 650px;
	background-color: white;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0,0.3);
	margin-bottom: 10px;
}

.userInfo{
	float: left;
	width: 80%;
	height: 100px; 
}

.userImage{
	float: left;
}

.icon .tooltiptext{
	opacity: 1;
	font-size: 12px;
	visibility: hidden;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
	left: 170%;

	
}

.icon:hover .tooltiptext {
    visibility: visible;
}

.icon{
	font-size: 22px;
	margin-top: 3px;
	position: relative;
    display: inline-block;
	opacity: .7;
}

.downIcon{
	color: black;
	transition: .2s linear;
	margin-top: 30px;
	margin-left:10px;
	opacity: .7;
}

.extendedInfo{
	margin-left: 5px;
	margin-bottom: 10px;
	background-color: whitesmoke;
	width: 640px;
	
}

h3{
	font-size: 22;
	margin-top: 5px;
	margin-left: 10px;
	color: gray;
	margin-bottom: 0;
}

p{
	margin-top: 5px;
	margin-left: 20px;
	color: gray;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}





table{
	color: whitesmoke;
	width: 100%;
	text-align: center;
	padding: 5px;
	background-color: #375e9b;
	
}

table td{
	background-color: #617ca5;
}
table th{
	background-color: #617ca5;
}



.yes{
	color: green;
}

.no{
	color: red;
}